/* Main A4 Size */
#root{
	// width: 792px;
	width: 100%;
	// height: 1120px;
	font-size: 16px;
	overflow: hidden;
	margin: 0 auto;
	position: relative;

	// Header
	header{
		text-align: center;
		padding-top: 1.5rem;

		h1{
			padding-top: 1.5rem;
			font-size: 1.5rem;
		}

		h3{
			padding-top: .5rem;
			font-weight: normal;
		}

		img{
			width: 150px;
		}
	}

}







// Responsive
@media sreen and (max-width:767px){
	#root{
		padding-left: 1rem;	
		padding-bottom: 1rem;	
	}
}


// Print css
@media print {
	body * {
	  visibility: hidden;
	}
	.bottom_help{
		visibility: hidden;
		display: none;
	}
	#root, #root * {
	  visibility: visible;
	}/*hide all element from print*/
	#root {
	  position: absolute;
	  left: 0;
	  top: 0;
	  border: none;
	} /*show only printable id for fint*/
}