body{
	font-family: 'Hind Siliguri', sans-serif;
}

// Set all digit bn Ansi SutonnyMJ
.digit{
	font-family: SutonnyMJ,  sans-serif;
}

/* Main A4 Size */
#root{
	// width: 792px;
	width: 100%;
	// height: 1120px;
	font-size: 16px;
	overflow-y: scroll;
	margin: 0 auto;
	position: relative;

	// Header
	header{
		text-align: center;
		padding-top: 1.5rem;

		h1{
			padding-top: 1.5rem;
			font-size: 1.5rem;
		}

		h2{
			padding-top: 1.5rem;
			font-weight: normal;
		}

		img{
			width: 150px;
		}
	}

	#institute_result{
		display: flex;
		justify-content: center;
		padding-top: .3rem;

		table#inst_tbl{

			border-collapse: collapse;

			// table heading
			thead{
				background-color: rgb(235, 231, 231);

				tr#heading_inst_res{
					th{
						border: 1px solid rgb(85, 79, 79);
					}
				}
			}
			
			// table data
			tbody#inst_tbl_bdy{
				tr{
					td{
						border: 1px solid rgb(85, 79, 79);
					}
				}

			}
			
			
			th,td{
				padding: .3rem .5rem;
				text-align: center;
			}

			td.name{
				text-align: left;
			}
		}

	}

}







// Responsive
@media sreen and (max-width:767px){
	#root{
		padding-left: 1rem;	
		padding-bottom: 1rem;	
	}
}


// Print css
@media print {
	body * {
	  visibility: hidden;
	}
	.bottom_help{
		visibility: hidden;
		display: none;
	}
	#root, #root * {
	  visibility: visible;
	}/*hide all element from print*/
	#root {
	  position: absolute;
	  left: 0;
	  top: 0;
	  border: none;
	} /*show only printable id for fint*/
}